* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
}

html {
    font-size: 10px;
}

h3 {
    font-family: Georgia;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

h4 {
    font-family: Georgia;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

.button_secondary {
    width: 18.7rem;
    height: 5.2rem;
    background: none;
    border: 0.2rem solid var(--color-primary);
    border-radius: 10rem;
    font-family: Georgia;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-xl);
}

.button_secondary:hover {
    cursor: pointer;
    background-color: var(--color-primary);
}

.button_arrow {
    width: 5.2rem;
    height: 5.2rem;
    color: var(--color-dark-xl);
    border: 0.2rem solid var(--color-primary);
    border-radius: 10rem;
    background: none;
    margin: auto 0;
}

.button_arrow:hover {
    background: var(--color-primary);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_arrow_active {
    width: 5.2rem;
    height: 5.2rem;
    border: 0.2rem solid var(--color-primary);
    border-radius: 10rem;
    background: var(--color-primary);
    margin: auto 0;
}

.button_arrow_inactive h4 {
    color: var(--color-dark-3xl);
}

.button_arrow_active:hover {
    cursor: pointer;
    background: var(--color-primary-light);
    border: 0.2rem solid var(--color-primary-light);
}

.button_arrow_inactive {
    width: 5.2rem;
    height: 5.2rem;
    font-family: Georgia;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    border: 0.2rem solid var(--color-dark-s);
    border-radius: 10rem;
    background: none;
    margin: auto 0;
}

.button_arrow_inactive h4 {
    color: var(--color-dark-s);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

object {
    pointer-events: none;
}

.wrapper {
    width: 120rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.hamburger {
    display: none;
}

.backdrop {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
}

.modal {
    position: fixed;
    left: calc( 50vw - 45rem);
    top: calc( 50vh - 25rem);
    width: 90rem;
    height: 49.9rem;
    border-radius: 0.9rem;
    background-color: var(--color-light-s);
    display: flex;
    overflow: hidden;
}

.modal:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.modal .our_friends_card_img {
    width: 50rem;
    height: 50rem;
    margin-right: 0.9rem;
}

.modal .content {
    width: 35.1rem;
    height: 36.2rem;
    margin: 5rem 2rem 0;
    color: #000000;
}

.modal .content h4 {
    margin: 1rem 0 4rem;
    font-family: Georgia;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.modal .content h5 {
    margin-bottom: 4.3rem;
    font-family: Georgia;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
}

.modal .content li {
    list-style-type: disc;
    color: var(--color-primary);
    margin: 0 0 1.2rem 1.4rem;
}

.modal .content li span b {
    font-weight: bold;
}

.modal .content li span {
    font-family: Georgia;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal_close_icon {
    position: fixed;
    top: calc( 50vh - 30rem);
    left: calc( 50vw + 44rem);
    cursor: pointer;
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 3rem 0;
    height: 12rem;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    height: 12rem;
    background-color: var(--color-light-xl);
}

.header .wrapper {
    justify-content: space-between;
}

.header_logo {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header_logo_title {
    color: var(--color-dark-l);
    font-family: Georgia;
    font-size: 3.2rem;
    letter-spacing: 0.06em;
    line-height: 110%;
}

.header_logo_subtitle {
    color: var(--color-dark-3xl);
    margin: 1rem 0 0 0.4rem;
    font-family: Arial;
    font-size: 1.3rem;
    line-height: 110%;
    letter-spacing: 0.1em;
}

.header_menu {
    display: flex;
    width: 44.3rem;
}

.header_menu_list {
    color: var(--color-dark-l);
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: Arial;
    font-size: 1.5rem;
    line-height: 160%;
    cursor: default;
}

.header_menu_list li {
    display: flex;
    align-items: center;
}

.header_menu_list li a {
    color: var(--color-dark-l);
}

.header_menu_list .header_menu_item_active a {
    border-bottom: 0.3rem solid var(--color-primary);
    color: var(--color-dark-3xl);
}

.header_menu_list li a:hover {
    color: var(--color-dark-3xl);
    cursor: pointer;
}

.our_friends {
    background-color: var(--color-light-l);
    padding: 20rem 0 10rem 0;
    text-align: center;
}

.our_friends_list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 124rem;
    margin: 3rem auto;
    justify-content: center;
}

.our_friends_card {
    margin: 3rem 2rem 0 2rem;
    width: 27rem;
    padding-bottom: 3rem;
    border-radius: 0.9rem;
    background-color: var(--color-light-s);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_friends_card:hover {
    cursor: pointer;
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our_friends_card_img {
    width: 100%;
    height: 27rem;
}

.our_friends_name {
    margin: 3.05rem 0;
    font-family: Georgia;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.navigation_wrapper {
    margin: 6rem auto 0 auto;
    max-width: 34rem;
    display: flex;
    justify-content: space-between;
}

.footer {
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 4rem;
}

.footer .wrapper {
    justify-content: space-between;
}

.footer_title {
    margin-top: 1.6rem;
    max-width: 27.9rem;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.footer_contacts .footer_element {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.footer_location {
    padding-right: 0.7rem;
}

.footer_location .footer_element {
    margin-top: 3.4rem;
    display: flex;
    align-items: center;
}

.footer_content {
    font-family: Georgia;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin-left: 2rem;
}

@media(max-width: 1279px) {
    .modal {
        left: calc( 50vw - 31.5rem);
        top: calc( 50vh - 17.5rem);
        width: 63rem;
        height: 35rem;
        overflow: scroll;
    }
    .modal .our_friends_card_img {
        width: 35rem;
        height: 35rem;
        margin-right: 0.2rem;
    }
    .modal .content {
        width: 26rem;
        height: 30.3rem;
        margin: 1rem 0.9rem 0;
        color: #000000;
    }
    .modal .content h4 {
        margin: 1rem 0 2rem;
    }
    .modal .content h5 {
        margin-bottom: 2rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
        width: 26.1rem;
    }
    .modal .content li {
        margin: 0 0 0.7rem 1.4rem;
    }
    .modal_close_icon {
        top: calc( 50vh - 23rem);
        left: calc( 50vw + 30.6rem);
    }
    .wrapper {
        width: 100%;
        padding: 0 3rem;
    }
    .header {
        padding: 3rem 0 0.2rem 0;
    }
    .header_menu {
        margin-bottom: 3rem;
    }
    .our_friends {
        padding-bottom: 7.6rem;
    }
    .our_friends_list {
        margin-top: 0;
        max-height: 139.5rem;
        overflow: hidden;
    }
    .navigation_wrapper {
        margin: 4rem auto 0 auto;
    }
    .footer {
        padding-top: 3.1rem;
    }
    .footer .wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer_title {
        margin-top: 0;
    }
    .footer_image {
        margin-top: 6.5rem;
        max-width: 30rem;
        max-height: 310rem;
    }
}

@media(max-width: 767px) {
    .modal {
        left: calc( 50vw - 12rem);
        top: calc( 50vh - 17.5rem);
        width: 24rem;
        height: 34.1rem;
    }
    .modal .our_friends_card_img {
        display: none;
    }
    .modal .content {
        width: 22rem;
        height: 32.1rem;
        margin: 1rem;
    }
    .modal .content h3 {
        text-align: center;
    }
    .modal .content h4 {
        text-align: center;
        margin: 1rem 0;
    }
    .modal .content h5 {
        margin: 2rem 0 2.4rem;
        text-align: justify;
        width: 22rem;
    }
    .modal_close_icon {
        top: calc( 50vh - 22.7rem);
        left: calc( 50vw + 9.8rem);
    }
    .backdrop {
        display: block;
        position: fixed;
        left: 100vw;
        top: 0;
        width: calc( 100vw - 32rem);
        height: 100vh;
        background: rgba(41, 41, 41, 0.6);
        transition: left 0.2s linear;
        z-index: 1;
    }
    .wrapper {
        width: 100%;
        padding: 0 1rem;
    }
    .header {
        padding: 3rem 0 0 0;
    }
    .header_logo_burger {
        position: absolute;
        right: 12.6rem;
        top: 3rem;
        z-index: 5;
    }
    .header_logo_burger .header_logo_title {
        color: var(--color-primary);
    }
    .header_logo_burger .header_logo_subtitle {
        color: var(--color-light-xl);
    }
    .hamburger {
        display: inline-block;
        position: fixed;
        top: 4.9rem;
        right: 5rem;
        width: 3rem;
        height: 2.2rem;
        z-index: 5;
    }
    .hamburger_line,
    .hamburger::before,
    .hamburger::after {
        display: inline-block;
        content: "";
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 0.2rem;
        transition: transform 0.2s ease;
    }
    .hamburger_line {
        top: calc(50% - 0.1rem);
    }
    .hamburger::before {
        top: 0;
        left: 0;
    }
    .hamburger::after {
        bottom: 0;
        left: 0;
    }
    .show_close>.hamburger_line,
    .show_close::before,
    .show_close::after {
        background-color: var(--color-primary);
    }
    .show_close>.hamburger_line {
        transform: translate(0, 0) rotate(90deg);
    }
    .show_close::before {
        transform: translate(1.2rem, 1rem) rotate(90deg);
    }
    .show_close::after {
        transform: translate(-1.2rem, -1rem) rotate(90deg);
    }
    .header_menu {
        position: absolute;
        top: 0;
        right: -32rem;
        background: var(--color-dark-3xl);
        width: 32rem;
        height: 100vh;
        overflow: hidden;
        transition: transform 0.2s ease;
    }
    .show_header_menu {
        transform: translateX(-32rem);
    }
    .show_header_menu+.backdrop {
        left: 0;
    }
    .header_menu_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3.2rem;
        line-height: 160%;
    }
    .header_menu_list li {
        margin: 2rem 0;
    }
    .header_menu_list .header_menu_item_active a,
    .header_menu_list li a:hover {
        color: var(--color-light-s);
    }
    .our_friends {
        padding: 16.2rem 0 4.2rem 0;
    }
    .our_friends_title {
        font-size: 2.5rem;
        line-height: 130%;
        margin-bottom: 1.2rem;
    }
    .navigation_wrapper {
        max-width: 30rem;
    }
    .footer {
        padding-top: 3.1rem;
    }
    .footer_location {
        margin: 4rem 0;
        padding: 0;
    }
    .footer_title {
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
    }
    .footer_contacts a .footer_element {
        max-width: 25.1rem;
        margin: 4rem auto 0;
    }
    .footer_contacts a:nth-child(3)>div {
        max-width: 24rem;
    }
    .footer_location .footer_title {
        margin-left: 0.8rem;
    }
    .footer_location a .footer_element {
        margin: 4rem auto 0;
    }
    .footer_image {
        margin: 0;
        max-width: 26rem;
        max-height: 26.9rem;
    }
}

@media(max-width: 319px) {
    html {
        width: 320px;
    }
}